<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
    <div class="row">

      <div class="col-md-3 sidebar">
        <nav class="sidebar-nav">

          <div class="sidebar-header">
           <!--<button class="nav-toggler nav-toggler-md sidebar-toggler" type="button" data-toggle="collapse" data-target="#nav-toggleable-md">
              <span class="sr-only">Toggle nav</span>
            </button>-->
           <a class="sidebar-brand img-responsive" href="/admin">
              <span class="icon icon-leaf sidebar-brand-icon"></span>
            </a>
          </div> <!-- End class "sidebar header" -->

          <div class="collapse nav-toggleable-md" id="nav-toggleable-md">
           
           <!-- Search for products -->
           <!--<form class="sidebar-form">
              <input class="form-control" type="text" placeholder="Search...">
              <button type="submit" class="btn-link">
                <span class="icon icon-magnifying-glass"></span>
              </button>
            </form>

            <!-- Side Nav Bar Top -->
            <ul class="nav nav-pills nav-stacked flex-column">
              <li class="nav-header"><h5 style="text-decoration: underline;">Pages</h5></li>
                
             <li class="nav-item">
                <a class="nav-link " href="shop">Shop Products</a>
              </li>
                
                <li class="nav-item">
                <a class="nav-link active"href="cart">View Cart</a>
              </li>
                <li class="nav-item">
                <a class="nav-link "href="checkout">Checkout</a>
              </li>
                <li class="nav-item">
                <a class="nav-link "href="/">Home Page</a>
              
                <li class="nav-item">
                <a class="nav-link "href="login">Login</a>
              </li>
                <li class="nav-item">
                <a class="nav-link "href="signup">Signup</a>
              
            </ul>
            
            <!--<hr class="visible-xs mt-3">

            <!-- Side Nav Bar Bottom 
            <ul class="nav nav-pills nav-stacked flex-column">
              <li class="nav-header">Related Tables</li>

              <li class="nav-item">
                <a class="nav-link " href="/addproducttype">Product Types</a>
              </li>
              <li class="nav-item">
                <a class="nav-link "href="/addscenttype">Scent Types</a>
              </li>
            </ul>-->

          </div> <!-- End class "collapse nav-toggleable-md" -->

        </nav>
      </div> <!-- End class "col-md-3 sidebar" -->

        <!-- Top page Bar -->
        <div class="col-md-9 content">
            <div class="dashhead">
                <div class="dashhead-titles">
                    <h6 class="dashhead-subtitle">Richwood-Scentific</h6>
                    <h2 class="dashhead-title">Cart</h2>
                </div>
            </div> <!-- End class "dashhead" -->

            <!-- Body Box -->
            <div class="col-md-9 content">
                <table id="data_table" class="table table-striped table-bordered" cellspacing="0">
                    <!-- Inject HTML here -->
                  <div class="col-md-7 col-sm-12 text-left">
				<ul>
					<li class="row list-inline columnCaptions">
						<span>QTY</span>
						<span>ITEM</span>
						<span>Price</span>
					</li>
					<li class="row">
                        <span class="quantity">
                        <input class="form-control" type="number" step="any" id="inputQuantity"></span>
						<span class="itemName">Birthday Cake</span>
						<!--<span class="popbtn"><a class="arrow"></a></span>-->
						<span class="price">$49.95</span>
					</li>
					<li class="row">
						<span class="quantity"><input class="form-control" type="number" step="any" id="inputQuantity"></span>
						<span class="itemName"></span>
						<!--<span class="popbtn"><a class="arrow"></a></span>-->
						<span class="price">$5.00</span>
					</li>
					<li class="row">
						<span class="quantity"><input class="form-control" type="number" step="any" id="inputQuantity"></span>
						<span class="itemName"></span>
						<!--<span class="popbtn"><a class="arrow"></a></span>-->
						<span class="price">$919.99</span>				
					</li>
					<li class="row">
						<span class="quantity"><input class="form-control" type="number" step="any" id="inputQuantity"></span>
						<span class="itemName">Pound of beef</span>
						<!--<span class="popbtn"><a class="arrow"></a></span>-->
						<span class="price">$269.45</span>
					</li>
					<li class="row">
						<span class="quantity"><input class="form-control" type="number" step="any" id="inputQuantity"></span>
						<span class="itemName">Bullet-proof vest</span>
						<!--<span class="popbtn"  data-parent="#asd" data-toggle="collapse" data-target="#demo"><a class="arrow"></a></span>-->	
						<span class="price">$450.00</span>			
					</li>
					<li class="row totals">
						<span class="itemName">Total:</span>
						<span class="price">$1694.43</span>
						<span class="order"> <a class="text-center">ORDER</a></span>
					</li>
				</ul>
			</div>
 
                
            
                </table>
            </div>
            <!-- Body Box -->

        </div> <!-- End class "col-md-9 content" -->
        
      </div> <!-- End class "row" -->
    </div> <!-- End class "container" -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/sweetalert.min.js"></script> 
<script src="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.13/fh-3.1.2/datatables.min.js"></script>
<script src="../assets/web/js/js.cookie.js"></script>
<script type="text/javascript">
    
   
    // "DT_RowId" will be used for row id
    $(document).ready(function() {
                
        
          var id_customer = Cookies.get('richwood-scentific' || 'richwood-scentific-temp');

            console.log(id_customer);
        
      $.ajax({
        url: "http://localhost:3000/api/cart/{{id}}",
        dataType: "json",
        type: "GET",
        data: {},
        success: function (result) {

           

            // Did we get any products in the ajax call?
            if(result.data.cart.length > 0) {
              
              // Loop through the array of product records
              for(var x=0; x<result.data.cart.length;x++) {
              
                
                  
                  // Build a string we can use to find each div by name- ex. .slider.slide-x
                  var classToFind = 'row' + (x+1);
                  $(classToFind).find('itemName').html(result.data.products[x].product_name);
                  $(classToFind).find('price').html(result.data.products[x].unit_price);
                  $(classToFind).find('quantity').html(result.data.cart[x].quantity);
                  

                  // So we can call add to cart with the product id later
                  $(classToFind).find('button').attr('id_product', result.data.products[x].id);

                  // Build a string for the images path and add the file name from the database
                  var imgSrc = "../assets/web/images/products/" + result.data.products[x].product_pic;
                  $(classToFind).find('img').attr('src', imgSrc);
              
                  // Is this a Best Seller? If so, replace the New Product text with Best Seller
                  if(result.data.products[x].best_seller == true) {
                    $(classToFind).find('h4').html('Best Seller');
                  } // End best seller
              
               
              
              } // End for loop
            
            } // End did we get any products

        } // End success function
    }); // End Ajax call.
    
    

    }); //End document.ready
</script>
