    <!-- Navigation -->
    <div class="navigation">
      <div class="navigation-left">
        <a href="#" id="prod1">-</a>
        <a href="#" id="prod2">-</a>
        <a href="#" id="prod3">-</a>
      </div>
      <div class="navigation-center">
        <img src="../assets/web/images/logo.png" alt="Richwood-scentific">
      </div>
      <div class="navigation-right">
        <a href="#"><img src="../assets/web/images/shopping-bag.png" alt=""></a>
        <button class="login-btn" href="#">Login</button>
      </div>
    </div>

    <!-- Slider Wrapper -->
    <div class="css-slider-wrapper">
      <input type="radio" name="slider" class="slide-radio1" checked id="slider_1">
      <input type="radio" name="slider" class="slide-radio2" id="slider_2">
      <input type="radio" name="slider" class="slide-radio3" id="slider_3">
      <input type="radio" name="slider" class="slide-radio4" id="slider_4">
       

      <!-- Slider Pagination -->
      <div class="slider-pagination">
        <label for="slider_1" class="page1"></label>
        <label for="slider_2" class="page2"></label>
        <label for="slider_3" class="page3"></label>
          <label for="slider_4" class="page4"></label>
      </div>

      <!-- Slider #1 -->
      <div class="slider slide-1">
        <img  src="../assets/web/images/products/mrsketchmarkers.png" alt="">
        <div class="slider-content">
          <h4>New Product</h4>
          <h2 id="n1"></h2>
          <button type="button" class="buy-now-btn" name="button" id="b1"></button>
         
        </div>
        <div class="number-pagination">
          <span>1</span>
        </div>
           
      </div>

      <!-- Slider #2 -->
      <div class="slider slide-2">
        <img src="../assets/web/images/products/hkerasers.png" alt="Hello Kitty Erasers">
        <div class="slider-content">
          <h4>New Product</h4>
          <h2 id="n2"></h2>
          <button type="button" class="buy-now-btn" name="button" id="b2" ></button>
        </div>
        <div class="number-pagination">
          <span>2</span>
        </div>
      </div>

      <!-- Slider #3 -->
      <div class="slider slide-3">
        <img src="../assets/web/images/products/scentedgelpens.png" alt="Scented Gel Pens">
        <div class="slider-content">
          <h4>New Product</h4>
          <h2 id="n3"></h2>
          <button type="button" class="buy-now-btn" name="button" id="b3"></button>
        </div>
        <div class="number-pagination">
          <span>3</span>
        </div>
      </div>

      <!-- Slider #4 -->
      <div class="slider slide-4">
        <img src="../assets/web/images/products/scentedpowders.png" alt="Scented Powders">
        <div class="slider-content">
          <h4>New Product</h4>
          <h2 id="n4"></h2>
          <button type="button" class="buy-now-btn" name="button" id="b4"></button>
        </div>
        <div class="number-pagination">
          <span>4</span>
        </div>
      </div>
    </div>

    
    
    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="../assets/web/js/app.js" charset="utf-8"></script>

<script type="text/javascript">
$.ajax({
    url: "http://localhost:3000/api/product_types",
    dataType: "json",
    type: "GET",
    data: {},
    success: function (result) {
        $('#prod1').text(result.data.product_types[0].label);
        $('#prod2').text(result.data.product_types[1].label);
        $('#prod3').text(result.data.product_types[2].label);
    }
});
    
 $.ajax({
    url: "http://localhost:3000/api/products",
    dataType: "json",
    type: "GET",
    data: {},
    success: function (result) {
    
        $('#n1').html(result.data.products[0].product_name);
        $('#b1').html(result.data.products[0].unit_price);
        
         $('#n2').html(result.data.products[1].product_name);
         $('#b2').html(result.data.products[1].unit_price);
         
         $('#n3').html(result.data.products[2].product_name);
         $('#b3').html(result.data.products[2].unit_price);
         
         $('#n4').html(result.data.products[3].product_name);
         $('#b4').html(result.data.products[3].unit_price);
        
        
        
    }
});   

  
  
</script>
  
    
    
    
    
    
    
    
    
    
    
    
    
    
