
<h3>Richwood Scentific</h3>

 <table width="200px" border="1" id="BestSellerTable">
    <tr>
        <td>Product</td>
        <td>Price</td>
    </tr>
    <!-- append happens here -->
</table>

<script type="text/javascript">

$.ajax({
    url: "http://localhost:3000/api/products",
    dataType: "json",
    type: "GET",
    data: {},
    success: function (result) {
        console.log(result);

        // Insert a table with products here
    
     $.each(result.data.products, function (index, product) {
            $('#BestSellerTable').append('<tr><td>' + product.product_name + '</td><td>' + product.unit_price + '</td></tr>');
        })
    }
        
 
    });
    

</script>