

<div class="container">
    
         <form class="form-signin" action="http://localhost:3000/api/product" method="post">        

           <!-- <span id="reauth-email" class="reauth-email"></span>

            <input type="text" id="$1" name="id" class="form-control" placeholder="Product ID" required autofocus>
            
            <input type="text" id="" name="id_type" class="form-control" placeholder="ID Type" > -->
            
            <input type="text" id="$2" name="product_name" class="form-control" placeholder="Product Name">
            <!--
            <input type="text" id="" name="qty_on_hand" class="form-control" placeholder="On Hand">

            <input type="text" id="" name="size" class="form-control" placeholder="Product Size">
            
            <input type="text" id="" name="cost" class="form-control" placeholder="Product Cost">
            
            <input type="text" id="" name="unit_price" class="form-control" placeholder="Unit Price">
            
            <input type="text" id="" name="id_scent_type" class="form-control" placeholder="Scent Type">
            
            <input type="text" id="" name="in_store" class="form-control" placeholder="In Store Qty">
            
            <input type="text" id="" name="product_pic" class="form-control" placeholder="Product Picture">
            -->
            <button action="http://localhost:3000/api/product" class="btn btn-lg btn-primary btn-block btn-signin" type="submit">submit</button>

    </form><!-- /form -->


</div><!-- /container -->
