
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: 'Gloria Hallelujah', cursive;
}
.w3-bar,h1,button {font-family: "Gloria Hallelujah", cursive;}
.fa-users,.fa-ravelry {font-size:200px}
</style>
<body>


<!-- Header -->
<header class="w3-container w3-red w3-center w3-padding-128">
  <h1 class="w3-margin w3-jumbo">Richwood Scent-ific</h1>
  <p class="w3-small">Template by w3.css</p>
    
    <!-- countdown timer -->
<iframe src="http://free.timeanddate.com/countdown/i5n1h9k3/n62/cf12/cm0/cu4/ct0/cs0/ca0/cr0/ss0/cac000/cpc000/pcfff/tcfff/fs100/szw320/szh135/tatTime%20left%20to%20Event%20in/tac000/tptTime%20since%20Event%20started%20in/tpc000/mac000/mpc000/iso2017-05-01T00:00:00" allowTransparency="true" frameborder="0" width="181" height="69"></iframe>

    
</header>
    
<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Who We Are</h1>
      <h5 class="w3-padding-32">We are a fun, innovative office supply company. Our main passion is creating wonderfully scented, non-toxic markers, but we are working diligently to include several other useful, yet entertaining products. We made our vision a reality in March 2017, and we hope to continue expanding and offering great, high quality products and become a leader in the office supply industry.</h5>

        </div>

    <div class="w3-third w3-center">
      <i class="fa fa-users w3-padding-64 w3-text-red" aria-hidden="true"></i>

    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-ravelry w3-padding-64 w3-text-red" aria-hidden="true"></i>
    </div>

    <div class="w3-twothird">
      <h1>Our Products</h1>
      <h5 class="w3-padding-32">Our original product, our first love, is our fun, non-toxic, scented markers.  They come in a variety of scents, such as strawberry, blueberry, banana, and bubblegum. We've also developed coca-cola, watermelon, and licorice scents!  We have recently expanded our available products to include more fun, yet FUNctional products such as erasers, pencils, and sticky notes. Stay tuned for more product developments! </h5>

     
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Quote of the day: Stop and smell the markers!</h1>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
 
 <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>

