
<h3>Add a Product</h3>
<form action="http://localhost:3000/api/product" method="POST">
    
Product name: <input type="text" name="product_name"><br>
    
  Product price: <input type="number" step="any" id="inputUnitPrice" name="unit_price"><br>
    
Product cost: <input type="number" step="any" id="inputUnitCost" name="cost"><br>
    
    <button type="submit" name="submitButton" value="save">save</button>

</form>
