<!DOCTYPE html>
<html>


<div class="container">
    
        

        <form class="form-signin" action="" method="post">

            <span id="reauth-email" class="reauth-email"></span>

            <input type="text" id="id" name="id" class="form-control" placeholder="Customer ID" required autofocus>
            
            <input type="text" id="" name="first_name" class="form-control" placeholder="First Name" required>
            
            <input type="text" id="" name="last_name" class="form-control" placeholder="Last Name" required>
            
            <input type="email" id="" name="email" class="form-control" placeholder="Customer Email" required>>

            <input type="password" id="" name="password" class="form-control" placeholder="Customer Password" required>
            
            <input type="text" id="" name="shipping_address" class="form-control" placeholder="Shipping Address" required>
            
            <input type="text" id="" name="shipping_city" class="form-control" placeholder="City" required>
            
            <input type="text" id="" name="shipping_state" class="form-control" placeholder="State" required>
            
            <input type="text" id="" name="shipping_zipcode" class="form-control" placeholder="Zipcode" required>
            
            <input type="text" id="" name="phone" class="form-control" placeholder="Phone" required>
            
            <button action="" class="btn btn-lg btn-primary btn-block btn-signin" type="submit">submit</button>

        </form><!-- /form -->

    
</div><!-- /container -->
</html>