<!DOCTYPE html>
<html>


<div class="container">
    
        

        <form class="form-signin" action="" method="post">

            <span id="reauth-email" class="reauth-email"></span>

            <input type="text" id="id" name="id" class="form-control" placeholder="Product ID" required autofocus>
            
            <input type="text" id="" name="id_type" class="form-control" placeholder="ID Type" required>
            
            <input type="text" id="" name="product_name" class="form-control" placeholder="Product Name" required>
            
            <input type="text" id="" name="qty_on_hand" class="form-control" placeholder="On Hand" required>>

            <input type="text" id="" name="size" class="form-control" placeholder="Product Size" required>
            
            <input type="text" id="" name="cost" class="form-control" placeholder="Product Cost" required>
            
            <input type="text" id="" name="unit_price" class="form-control" placeholder="Unit Price" required>
            
            <input type="text" id="" name="id_scent_type" class="form-control" placeholder="Scent Type" required>
            
            <input type="text" id="" name="in_store" class="form-control" placeholder="In Store Qty" required>
            
            <input type="text" id="" name="product_pic" class="form-control" placeholder="Product Picture" required>
            
            <button action="" class="btn btn-lg btn-primary btn-block btn-signin" type="submit">submit</button>

        </form><!-- /form -->

    
</div><!-- /container -->
</html>