
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">

<style>
    body {background-image: url("http://www.777a7.com/img1/stntkmaxomvnswjztpmv.jpg");
    background-size: cover;}
    
    h1{color: black;
       font-family: 'Permanent Marker', cursive;
        font-size: 50px;}
    
    input{text-align: center;}
    
    button{background-color:black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;   
    border-radius: 12px;
    width:250px;
    padding:20px;
    margin-top:25px;}
  
    .fa-users{font-size:225px;}
    
    </style>
    </head>
    <body>
        <center><i class="fa fa-users" aria-hidden="true"></i></center>
        <form action="http://localhost:3000/home">
            <center><h1>Shop Richwood Scent-ific</h1></center>
    <script src="email.js"></script>
        <center><input type="text" placeholder="First Name" required style="height:40px;width:250px;font-size:20px;"></center>
        <center><input type="text" placeholder="Last Name" required style="height:40px;width:250px;font-size:20px;"></center>
        <center><input type="text" placeholder="Email Address" required style="height:40px;width:250px;font-size:20px;"></center>
            <center><input type="password" placeholder="Password" required style="height:40px;width:250px;font-size:20px;"></center>
        <center><button class="text-center" type="submit">Click Here</button></center>
        </form>
        </body>
   
