<!DOCTYPE html>
<html>


<div class="container">
    
        

        <form class="form-signin" action="" method="post">

            <span id="reauth-email" class="reauth-email"></span>

            <input type="text" id="id" name="id" class="form-control" placeholder="Scent Type ID" required autofocus>
            
            <input type="text" id="" name="label" class="form-control" placeholder="Scent Label" required>
            
            <input type="text" id="" name="description" class="form-control" placeholder="Scent Description" required>
            
            <input type="text" id="" name="ingredient_label" class="form-control" placeholder="Ingredient Label" required>
            
            
            <button action="" class="btn btn-lg btn-primary btn-block btn-signin" type="submit">submit</button>

        </form><!-- /form -->

    
</div><!-- /container -->
</html>